config.py
.venv
__pycache__
*.pyc
backend/app/__pycache__/__init__.cpython-312.pyc
backend/app/__pycache__/config.cpython-312.pyc
backend/app/__pycache__/routes.cpython-312.pyc
backend/app/__pycache__/__init__.cpython-312.pyc

.env
backend/app/__pycache__/routes.cpython-312.pyc
