body, #root {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  margin-top: 70px;
  height: calc(100vh - 70px);
}